*{
    margin:0;
}
.app{
    background-color: #fafafa;
    
}
.app__posts{
    padding:20px;
    display:flex;
    justify-content: center;
}

.app__header{
    position:sticky;
    top:0;
    z-index:1;
    padding:20px;
    object-fit: contain;
    background-color: white;   
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    height:30px;
}


.app__headerImage{
    object-fit: contain;
}

.app__signup {
    display: flex;
    flex-direction: column;
}